[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
djangorestframework = "*"
django-filter = "*"
django-measurement = "*"
django-multiselectfield = "*"
django-ckeditor = "*"
django-environ = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
